body {
    margin: 0;
    font-family: var(--ap-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--ap-color-background);
    color: var(--ap-color-foreground);
}
